<mat-card class="card-home mat-elevation-z3">
    <div>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-subtitle>Listagem de Atividades</mat-card-subtitle>
    </div>
</mat-card>

<mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8" style="border-radius: 10px;" #TABLE>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="atividade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Atividade </th>
            <td mat-cell *matCellDef="let element"> {{element.idApontamentoCabecalho.descricaoAtividade}} </td>
        </ng-container>

        <ng-container matColumnDef="safra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Safra </th>
            <td mat-cell *matCellDef="let element"> {{element.idApontamentoCabecalho.safra.identificacao}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.idApontamentoCabecalho.dataAtividade}} </td>
        </ng-container>

        <ng-container matColumnDef="propriedade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Propriedade </th>
            <td mat-cell *matCellDef="let element"> {{element.idApontamentoCabecalho.propriedade.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="talhao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Talhão </th>
            <td mat-cell *matCellDef="let element"> {{element.idApontamentoCabecalho.talhao.identificacao}} </td>
        </ng-container>

        <ng-container matColumnDef="maquina">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Máquina </th>
            <td mat-cell *matCellDef="let element"> {{element.maquina.modelo}} </td>
        </ng-container>

        <ng-container matColumnDef="insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Insumo </th>
            <td mat-cell *matCellDef="let element"> {{element.insumo.identificacao}} </td>
        </ng-container>

        <ng-container matColumnDef="qtdInsumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Insumo </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidadeInsumo}} {{ element.insumo.unidadeDeMedida.abreviacao }} </td>
        </ng-container>

        <ng-container matColumnDef="hibrido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Híbrido </th>
            <td mat-cell *matCellDef="let element"> {{element.hibrido.identificacao}} </td>
        </ng-container>

        <ng-container matColumnDef="qtdHibrido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Híbrido </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidadeHibrido}} {{ element.hibrido.unidadeDeMedida.abreviacao }} </td>
        </ng-container>

        <ng-container matColumnDef="funcionario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Funcionário </th>
            <td mat-cell *matCellDef="let element"> {{element.funcionario.nome}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Não há dados para serem exibidos!</td>
        </tr>
    </table>

    <div class="button-down">
        <button mat-raised-button matTooltip="Exportar para Excel" color="primary" (click)="exportAsExcel()">
            <mat-icon aria-hidden="false" style="color: white;">file_download</mat-icon>
        </button>
    </div>
</div>
 
