<mat-card class="card-home mat-elevation-z3">
    <div>
        <mat-card-title>Marca</mat-card-title>
        <mat-card-subtitle>Atualização de Marca</mat-card-subtitle>
    </div>
    <div>
        <button mat-mini-fab routerLink="/marca/" style="background-color: brown;">
            <i matTooltip="Voltar" class="material-icons">
                arrow_back
            </i>
        </button>
    </div>
</mat-card>

<form [formGroup]="form" fxLayoutAlign="center" novalidate style="margin: 20px;">
    <mat-list>
        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
        </mat-list-item>

        <mat-list-item fxLayoutAlign="center">
            <button mat-raised-button color="primary" [disabled]="form.invalid"
                 style="margin-right: 25px;" (click)="atualizar()">Salvar</button>

            <button mat-raised-button color="warn" routerLink="/marca/">Cancelar</button>
        </mat-list-item>
    </mat-list>
</form>

