<mat-card class="card-home mat-elevation-z3">
    <div>
        <mat-card-title>Unidade de Medida</mat-card-title>
        <mat-card-subtitle>Atualização de Unidade de Medida</mat-card-subtitle>
    </div>
    <div>
        <button mat-mini-fab routerLink="/unidade-de-medida/" style="background-color: brown;">
            <i matTooltip="Voltar" class="material-icons">
                arrow_back
            </i>
        </button>
    </div>
</mat-card>

<form [formGroup]="form" fxLayoutAlign="center" novalidate style="margin: 20px;">
    <mat-list>
        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Abreviação" formControlName="abreviacao">
            </mat-form-field>
            <span matTooltip="A abreviação deve conter no máximo 3 caracteres.">
                <mat-icon>help</mat-icon>
            </span>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Descrição" formControlName="descricao">
            </mat-form-field>
        </mat-list-item>

        <mat-list-item fxLayoutAlign="center">
            <button mat-raised-button color="primary" [disabled]="form.invalid"
                 style="margin-right: 25px;" (click)="atualizarUnidade()">Salvar</button>

            <button mat-raised-button color="warn" routerLink="/unidade-de-medida/">Cancelar</button>
        </mat-list-item>
    </mat-list>
</form>
