/* .sidenav {
    background-color: rgb(11, 60, 196);
    width: 200px;
} */



.content {
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 1%;
    font-size: 2rem;
    color: lightgray;
    height: 775px;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.link {
    color: white;
}

i {
    margin-right: 5px;
}

.link:hover {
    background-color: rgb(17, 131, 197);
    border-radius: 10px;
}

.link-ativo {
    color: white;
    background-color: rgb(17, 131, 197);
    border-radius: 10px;
}

.link-ativo:hover {
    background-color: rgb(17, 131, 197);
    border-radius: 10px;
}
