<mat-sidenav-container>
    <mat-sidenav class="sidenav mat-elevation-z8" opened mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item class="link" routerLink="/unidade-de-medida/cadastro">
                <i class="material-icons">home</i>Início
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">grass</i>Cultura
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">local_florist</i>Híbrido
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">water_damage</i>Insumo
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">agriculture</i>Maquinário
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">store</i>Marca
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">house</i>Propriedade
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">event_available</i>Safra
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">map</i>Talhão
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">straighten</i>Unidade de Medida
            </a>

            <a mat-list-item class="link" routerLink="/unidade-de-medida">
                <i class="material-icons">supervisor_account</i>Usuário
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
