<mat-card class="card-home mat-elevation-z3">
    <div>
        <mat-card-title>Pessoa</mat-card-title>
        <mat-card-subtitle>Cadastro de Pessoa</mat-card-subtitle>
    </div>
    <div>
        <button mat-mini-fab routerLink="/pessoa/" style="background-color: brown;">
            <i matTooltip="Voltar" class="material-icons">
                arrow_back
            </i>
        </button>
    </div>
</mat-card>

<form [formGroup]="form" novalidate style="margin: 20px;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="CPF" formControlName="cpf">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="full-width">
            <input matInput placeholder="Telefone" formControlName="telefone">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Ocupação</mat-label>
            <mat-select formControlName="ocupacao">

                <mat-option *ngFor="let ocp of ocupacoes" [value]="ocp">
                    {{ ocp }}
                </mat-option>

            </mat-select>

        </mat-form-field>

    </div>

    <div fxLayoutAlign="center" style="margin-top: 20px;">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="salvar()"
            style="margin-right: 25px;">Salvar</button>

        <button mat-raised-button color="warn" (click)="resetarForm()">Cancelar</button>
    </div>

</form>