.footer {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #002b5c;
    max-height: 40px;
    padding: 20px;
    border-radius: 10px;
}

.footer span {
    font-size: 1.1rem;
    font-weight: 500;
    color: silver;
}